/* Global
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
    font-family: vcr;
    src: url("../vcr.ttf")
}


html, body {
  height: 100%;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.428em;
}

p {
  font-size: 1.2em;
}

h2 {
  margin-top: 0.2em;
  font-size: 1.6em;
  letter-spacing: -1.5px;
  font-weight: bold;
  text-align: center;
  float: left;
  color: navy;
}

input {
  margin: auto;
}


/* Feature Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.feature__section {
  width: 400px;
  height: 640px;
  position: relative;
  background-color: #BFC0BB;
  box-shadow: 6px 6px 10px #888888;
  border: 2px solid #aaa;
  margin: auto;
  border-radius: 5%;
  overflow: hidden;
}

.wrapper__div--feature-section {
  width: 86%;
  position: relative;
  margin: auto;
  margin-top: 40px;
}


.wrapper__div--game {
  height: 300px;
  width: 100%;
  background-color: #5f5f5f;
  padding-left: 2em;
  padding-right: 2.4em;
  box-sizing: border-box;
  border: 3px outset #777;
  border-radius: 3%;
  border-bottom-right-radius: 20%;
}

.message__div--stereo-sound {
  top: 2px;
  left: -22px;
  height: 20px;
  width: 324px;
  position: relative;
  padding: 6px;
}

.line__div--red {
  height: 3px;
  width: 100%;
  background-color: maroon;
}
.line__div--blue {
  height: 3px;
  width: 100%;
  background-color: navy;
  margin-top: 3px;
}

.message__div--matrix {
  position: absolute;
  background-color: #5F5F5F;
  top: 1px;
  left: 80px;
  z-index: 2;
  color: #e6e6e6;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: -1px;
  padding-left: 10px;
  padding-right: 10px;
}



.game__article {
  font-family: vcr;
  background-color: #f1f3ce;
  border: 3px groove #333;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
  height: 240px;
  width: 80%;
  position: relative;
  overflow: none;
  margin: auto;
  text-align: center;
}

.game-screen-spacer__div {
  height: 2px;
  width: 100%;
  background-color: maroon;
  position: absolute;
  bottom: 0;
}

.game-name__span {
  margin-left: 6px;
  font-style: italic;
}

.tm__span {
  display: inline-block;
  margin-top: 7px;
  margin-left: 2px;
  font-weight: bold;
  color: navy;
}


/* Response Paragraph
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.paragraph--inline-block {
  display: inline-block;
}

.guesses-left__paragraph {
  clear: both;
}

.response-spacer__div {
  min-height: 1px;
  position: absolute;
  bottom: -8px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.response__paragraph {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.response__paragraph--correct {
  background-color: #ada;
}

.response__paragraph--near {
  background-color: #c4dfe6;
}

.response__paragraph--far {
  background-color: #f0810f;
}

.reset-message__paragraph {
  margin-top: 36px;
}


/* Guessbox Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.game__article--form {
  width: 84%;
  margin: auto;
  
  margin-top: 20px;
}

.guess-box__form {
  height: 200px;
  display: block;
  position: relative;
  padding-bottom: 20px;
}

.line__div--indigo {
  height: 6px;
  width: 96%;
  margin: auto;
  background-color: #556dac;
}

.form-spacer__div {
  height: 20px;
}

.guess__input--text {
  display: inline-block;
  float: left;
  width: 70px;
  height: 90px;
  font-size: 3em;
  padding: 0 20px 0 20px;
  border: 5px solid #555;
  background-color: #444;
  color: #ddd;
  margin-left: 20px;
}

.guess__input--button {
  display: inline-block;
  float: right;
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-color: #C1356C;
  border-radius: 25px;
  background-color: #7C0643;
  margin-right: 1em;
}

.guess__input--button:hover {
  background-color: #A43969;
}

.button--extra {
  display: inline-block;
  float: right;
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-color: #C1356C;
  border-radius: 25px;
  background-color: #7C0643;
  margin-top: -10px;
  margin-right: 27px;
}

.button--extra:hover {
  background-color: #A43969;
}

.guess__label {
  color: navy;
  font-weight: bold;
  display: inline-block;
  margin-right: 1em;
  float: right;
  clear: right;
  transform: rotate(-30deg);
  margin-top: 6px;
  margin-right: -6px;
}